@font-face {
  font-family: manrope;
  src: url("Fonts/Manrope-Regular.woff2");
}

@font-face {
  font-family: audiowide;
  src: url("Fonts/Audiowide-Regular.ttf");
}

* {
  box-sizing: border-box;
  border-radius: 10px;
}

body {
  font-size: medium;
  font-family: manrope, sans-serif;
  margin: 0px;
}

::selection {
  background-color: #282d75;
  color: white;
}

a:link, a:visited, a:hover {
  color: #282d75;
  text-decoration: none;
}

header.top {
background-color: #282d75;
margin: 10px 10px 1px 10px;
padding: 15px;
text-align: left;
}

header.top img#headerSlogan {
  float: right;
}

div#tableContainer {
  display: table;
  border-spacing: 10px;
}

div#tableRow {
  display: table-row;
}

section#main, section#blog, section#form, section#drinks{
  display: table-cell;
  padding: 15px;
  border: 1px solid black;
  vertical-align: top;
}

section#main h1, section#blog h1, section#form h1{
  text-align: center;
}

aside {
  border: 1px solid black;
  margin: 0px 10px 10px 10px;
  padding: 15px;
  text-align: center;
}

footer {
  background-color: #282d75;
  margin: 10px;
  padding: 15px;
  color: white;
  text-align: center;
}
nav {
  margin: 0px 10px 0px 10px;
  padding: 0px;
  background-color: #282d75;
  font-size: 120%;
  text-align: center;
}

nav ul li {
  display: inline-block;
  padding: 10px 15px 10px 15px;
  color: white;
  transition: background-color 0.5s, color 0.3s;
  border-radius: 0px;
}

nav ul li:hover {
  background-color: white;
  color: #282d75;
}

nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

nav ul li.selected {
  background-color: white;
  color: #282d75;
}

section#drinks {
  border: 1px solid black;
  width: 20%;
}

section#drinks h1 {
  font-style: italic;
  text-align: center;
}

section#mission {
  border: 1px solid black;
  padding: 15px;
  margin: 10px;
  font-size: 150%;
  text-align: center;
}

h1 {
  color: #282d75;
  font-family: audiowide, serif;
  font-size: 120%;
}

@media screen and ( max-width: 600px ) {
  div#tableRow, div#tableContainer {
    display: block;
  }
  section#main, section#blog, section#form, section#drinks {
    width: auto;
    margin: 10px 10px 0px 10px;
    display: block;
  }

  aside {
    margin-top: 10px;
  }
}
